.el-menu-vertical{
    --el-menu-mode:vertical;
    --el-menu-collapse: true;
   /* @open:"handleOpen";
    @close:"handleClose";*/
    --el-menu-router:true;/*以index作为path跳转*/
    --el-menu-collapse-transition:true;
    --el-menu-popper-effect:light;
    height:600px;
    --el-menu-item-height: 48px;
}
.el-aside-class1{
    width:  200px;
    height: 100%;
}
.el-aside-class2{
    width:  85px;
    height: 100%;
}
.el-radio-group-class1{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 35px;
}
.el-radio-group-class2{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.el-breadcrumb{
    font-size: 20px;
    margin-bottom:10px;
}
.el-dropdown{
    margin-left: 7px;
}
#progress_valible{
    position: fixed;
    showClose: "false";
    right:40%;
    height:1%;
    opacity: 100%;
    top:50%;
    background-color: #7e7e7f;
    border: 1px solid #7e7e7f;
}
#program_get{
    position: fixed;
    showClose: "false";
    right:40%;
    height:0;
    opacity: 100%;
    top:50%;
    background-color: #7e7e7f;
    border: 1px solid #7e7e7f;
}

#progress_valible .el-dialog__headerbtn{
    display: none;
}
#program_get .el-dialog__headerbtn{
    display: none;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.step {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ccc9d2;
    border-radius: 50%;
    transition: background 1s;
}
.step.selected {
    border: 2px solid #4B81BD;
}
.step.completed {
    border: 2px solid #4B81BD;
    background: #4B81BD;
}
.progress {
    position: absolute;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ACACA6;
    z-index: -1;
}
.percent {
    position: absolute;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #4B81BD;
    z-index: 1;
    transition: width 1s;
}